---
id: "root"
---
<!DOCTYPE html>
    <head>
        <link rel="stylesheet" href="./src/assets/style/global.scss">
    </head>
    <body>
        <a href="./src/pages/registration/index.hbs">регистрация</a>
        <a href="./src/pages/authorization/index.hbs">авторизация</a>
        <a href="./src/pages/error/index.hbs">404</a>
    </body>
</html>