---
id: "root"
---
<!DOCTYPE html>
    <head>
        <link rel="stylesheet" href="./src/assets/style/global.scss">
    </head>
    <body>
        <a href="./src/pages/registration/index.hbs">регистрация</a>
        <a href="./src/pages/authorization/index.hbs">авторизация</a>
        <a href="./src/pages/profile/index.hbs">профиль</a>
        <a href="./src/pages/chats/index.hbs">чаты</a>
        <a href="./src/pages/error/404.hbs">404</a>
        <a href="./src/pages/error/500.hbs">500</a>
    </body>
</html>