@import "../style/fonts.scss";
@import "../style/colors.scss";
@import "../../components/textInput/style.scss";
@import "../../components/fileInput/style.scss";
@import "../../components/navigation/style.scss";
@import "../../components/infoRow/style.scss";
@import "../../components/avatar/style.scss";

* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

body {
    background-color: $blue;
}
