@import "../../../src/assets/style/colors.scss";
@import "../../../src/assets/style/mixins.scss";

.login-container {
    width: 100%;
    min-height: 100vh;

    padding: 36px 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

.login-form {
    padding: 70px 30px 44px;

    display: flex;
    flex-direction: column;
    align-items: center;

    border: 4px solid $green;
    background-color: #FAFBFC;
}

.login-form-title {
    margin-top: 12px;
    margin-bottom: 68px;

    @include CousineRegular(19px, 19px);
    text-transform: uppercase;
}

.login-form div:nth-child(n+2) {
    width: 280px;
}

.login-form div:nth-child(n+2) {
    margin-top: 17px;
}

.login-form-submitButton {
    margin-top: 81px;
    height: 37px;
    position: relative;
    @include blueButton();
}

.login-form-submitButton::before {
    content: '';
    position: absolute;
    top: -14px;
    width: 38px;
    height: 14px;
    background-image: url("../../assets/images/blueEars.svg");
}

.login-form-signupButton {
    margin-top: 11px;
    @include whiteButton();
    background-color: transparent;
}