---
inputs:
    - label: "старый пароль"
      name: "oldPassword"
      type: "password"
      error: ""
    - label: "новый пароль"
      name: "newPassword"
      type: "password"
      error: ""
    - label: "повторите пароль"
      name: "newPassword_copy"
      type: "password"
      error: ""
---


<link rel="stylesheet" href="../../assets/style/global.scss">
<link rel="stylesheet" href="./style.scss">

<div id="{{ id }}" class="passwordEdit-container">
    <form class="passwordEdit-form">
        <img src="../../assets/images/logo.svg" />
        <h1 class="passwordEdit-form-title">изменить пароль</h1>
        {{#each inputs}}
            {{> textInput/textInput params=this}}
        {{/each}}
        <a href="../profile/index.hbs" class="passwordEdit-form-submitButton">сохранить</a>
        <a href="../profile/index.hbs" class="passwordEdit-form-signupButton">закрыть</a>
    </form>
</div>
