@import "../../assets/style/colors.scss";
@import "../../assets/style/mixins.scss";

.profile-page {
    width: 100%;
    min-height: 100vh;

    display: flex;
}

.profile {
    padding: 85px 130px 51px 51px;
    display: flex;
    justify-content: center;
    flex-grow: 1;
    background-color: #F5F5F5;
}

.profile-options {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.profile-options-status {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-options-status-photo-container {
    width: 178px;
    height: 178px;
}

.profile-options-status-name {
    margin-top: 30px;
    @include CousineRegular(22px, 22px);
    color: $blue;
}

.profile-options-status-online {
    margin-top: 8px;
    @include CousineRegular(13px, 13px);
    color: $grey;
}

.profile-options-status-phrase {
    margin-top: 25px;
    width: 202px;
    @include CousineRegular(14px, 14px);
    color: $blue;
}

.profile-options-controls {
    display: flex;
    flex-direction: column;
}

.profile-options-controls :nth-child(n+2) {
    margin-top: 12px;
}

.profile-options-controls-button {
    padding-left: 36px;
    height: 18px;
    @include whiteButtonWithGreenArrow();
}

.profile-info {
    margin-left: 100px;
    width: 510px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.profile-info >:nth-child(n+2) {
    margin-top: 23px;
}
