<form method="post" enctype="multipart/form-data" class="fileInput">
        <label for="file" class={{class}}>{{label}}</label>
        <input type="file" id="file" name={{name}} multiple>
    {{!-- <button>Submit</button> --}}
</form>
