<form enctype="multipart/form-data" class={{style.fileInput}}>
        <label for="file" class={{class}}>{{label}}</label>
        <input type="file" id="file" name={{name}}>
    {{!-- <button>Submit</button> --}}
</form>
