@import "../../assets/style/colors.scss";
@import "../../assets/style/mixins.scss";

.chats-page {
    width: 100%;
    min-height: 100vh;

    display: flex;
}

.content {
    flex-grow: 1;
    display: flex;
}

.content-chats {
    flex-grow: 1;
    background-color: $white;
}

.content-chat {
    width: 100px;
    flex-grow: 2;
    background-color: #F9F9FF;
}
