<section class="navigation">
    <div>
      <div class="navigation-logo"></div>
      <div class="navigation-buttons">
        <a href="../../pages/chats/index.hbs" class="navigation-chatButton" data-isactive={{params.chatIsActive}}>чаты</a>
        <a href="../../pages/profile/index.hbs" class="navigation-profilebutton" data-isactive={{params.profileIsActive}}>мой профиль</a>
      </div>
    </div>
    <a href="../../pages/authorization/index.hbs" class="navigation-logoutButton">выйти из&nbsp;аккаунта</a>
</section>
