@import "../../assets/style/mixins.scss";
@import "../../assets/style/colors.scss";

.textInput h1 {
    @include CousineRegular(8px, 8px);
    color: $grey;
}

.textInput input {
    width: 100%;
    padding: 6px 0;
    @include CousineRegular(13px, 13px);

    color: $blue;
    background-color: transparent;

    border: none;
    border-bottom: 1px solid $black;

    outline: none;
}

.textInput input[data-error]  {
    color: $red;
}

.textInput p {
    margin-top: 5px;

    @include CousineRegular(8px, 8px);

    color: $red;
}