---
params:
    chatIsActive: "1"
    profileIsActive: "0"
---

<link rel="stylesheet" href="../../assets/style/global.scss">
<link rel="stylesheet" href="./style.scss">

<div class="chats-page">
  {{> navigation/index params=params }}
  <section class="content">
    <div class="content-chats">chats</div>
    <div class="content-chat">chat</div>
  </section>
</div>

