<div class="avatar">
    <div class="avatar-photo-ears"></div>
    <div class="avatar-photo">
        <img src={{photo}} />
        {{#if editUrl}}
            <a href={{editUrl}} class="avatar-photo-editButton">изменить <br> аватар</a>
        {{/if}}
    </div>
</div>
